@namespace Oqtane.ChatHubs
@inherits ModuleBase

<div class="jumbotron jumbotron-fluid d-none d-xl-block px-1 px-sm-3 py-sm-3 py-5 mb-0" style="background-color: transparent">
    <div class="container">

        <div class="d-flex flex-wrap flex-sm-nowrap align-items-center">

            <div class="p-0 pe-sm-3">

                <img src="https://raw.githubusercontent.com/boredanyway/aspnetcore.chathub.template/master/screenshot1.png" class="img-fluid" alt="preview" style="max-width: 256px;" />

            </div>

            <div class="p-0 ps-sm-3">

                <h1 class="display-4">Video chat app</h1>
                <p class="lead">This is a base video chat implementation in its beta version but free to use and have fun. Create a new post and start videochatting with friends or strangers.</p>

            </div>

        </div>

    </div>
</div>

@code {

}
