@namespace BlazorWindows

@inherits WindowContainerBase

@using Microsoft.AspNetCore.Components.Web
@using BlazorDraggableList

<style type="text/css">

    .blazor-window-nav::-webkit-scrollbar {
        height: 8px;
        background-color: grey;
    }

    .blazor-window-nav {
        scrollbar-width: thin;
    }

    @@media(min-width: 1199px) {
        .livestream-container-border {
            border: 1px solid #ffbb66;
        }
    }
</style>

@if (WindowItems.Count() >= 1 && RenderLivestreams)
{
    <BlazorDraggableListComponent Items="WindowItems" Id="@DraggableLivestreamContainerElementId" Class="p-2 livestream-container-border blazor-window-nav" Orientation="@BlazorDraggableListOrientationType.Horizontal">

        <BlazorDraggableListItem>
            @context.WindowLivestream
        </BlazorDraggableListItem>

    </BlazorDraggableListComponent>
}

<CascadingValue Value=this>

    <ul class="blazor-window-nav nav nav-tabs d-flex flex-nowrap overflow-auto" style="overflow-y: hidden !important;">
        @ChildContent
    </ul>

</CascadingValue>

<div class="nav-tabs-body">
    @ActiveWindow?.WindowContent
</div>

@code {

}