@namespace Oqtane.ChatHubs

@inherits ImageModalBase

@using BlazorModal
@using Oqtane.ChatHubs.Constants

<BlazorModalComponent ElementId="@ImageModalElementId">

    <BlazorModalHeader>
        <div class="p-2 bg-primary text-light">
            <strong>Image Uploads</strong>
        </div>
    </BlazorModalHeader>

    <BlazorModalBody>
        @if (Message != null && Message.Photos != null)
        {

            <div class="dialog-title">
                <b>Posted by</b> @Message.User?.DisplayName <b>on</b> @Message.CreatedOn.ToShortTimeString()
            </div>

            <div class="bg-light py-sm-4 px-sm-1">
                @foreach (var photo in Message.Photos)
                {
                    <img class="img-fluid" src="@string.Format("{0}/{1}/{2}", NavigationManager.BaseUri, ChatHubConstants.UploadImagesPath, photo.Source)" />
                }
            </div>

        }
    </BlazorModalBody>

    <BlazorModalFooter>
        <div class="my-3 p-2 float-end">
            <button type="button" class="btn btn-link" @onclick="() => CloseDialogClickedAsync()">Dialog schließen</button>
        </div>
    </BlazorModalFooter>

</BlazorModalComponent>
